gen/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Common grammar definitions. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <!-- Scopes and other constructs have names like foo.identifier. -->
  <xs:attributeGroup name="NameAttr">
    <xs:attribute name="name" use="required" type="xs:NCName"/>
  </xs:attributeGroup>
  <!-- Sometimes the name must be unique in the file. -->
  <xs:attributeGroup name="IDNameAttr">
    <xs:attribute name="name" use="required" type="xs:ID"/>
  </xs:attributeGroup>
  <!-- Regular expression element. -->
  <xs:element name="expression">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="capture" type="xs:nonNegativeInteger"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <!-- Append/prepend elements used in completion behaviors. -->
  <xs:group name="AppendPrepend">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="append"/>
        <xs:element ref="prepend"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:element name="append" type="xs:string"/>
  <xs:element name="prepend" type="xs:string"/>
  <!--
    
    === Undocumented elements and attributes ===
    
  -->
  <!-- Found in CSS completions. -->
  <xs:attributeGroup name="CaptureAttr">
    <xs:annotation>
      <xs:documentation>undocumented</xs:documentation>
    </xs:annotation>
    <xs:attribute name="capture" use="required" type="xs:nonNegativeInteger"/>
  </xs:attributeGroup>
</xs:schema>
