gen/provider.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Grammar defining completion providers. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="provider">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="SyntaxName"/>
        <xs:element ref="selector"/>
        <xs:element ref="expression"/>
        <xs:group ref="SymbolCompletion"/>
        <xs:element ref="assistant"/>
      </xs:choice>
      <xs:attribute name="name" type="DottedName"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="SyntaxName">
    <xs:annotation>
      <xs:documentation>https://docs.nova.app/syntax-reference/completions/#syntax</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="syntax" type="xs:NCName"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="selector" type="xs:token"/>
  <xs:group name="SymbolCompletion">
    <xs:annotation>
      <xs:documentation>https://docs.nova.app/syntax-reference/completions/#symbolic-completions</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="symbols">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="behavior"/>
          </xs:sequence>
          <xs:attribute name="type" use="required" type="xs:token"/>
          <xs:attribute name="syntax" type="xs:NCName"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:element name="behavior">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="AppendPrepend"/>
        <xs:element ref="arguments"/>
      </xs:choice>
      <xs:attribute name="prefix" type="xs:token"/>
      <xs:attribute name="suffix" type="xs:token"/>
      <xs:attributeGroup ref="CompleteOnConfirmAttr"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="arguments">
    <xs:complexType>
      <xs:attribute name="prefix" type="xs:string"/>
      <xs:attribute name="suffix" type="xs:string"/>
      <xs:attribute name="separator" type="xs:string"/>
      <xs:attribute name="prepend-separator" type="xs:boolean"/>
      <xs:attribute name="prefix-each" type="xs:string"/>
      <xs:attribute name="suffix-each" type="xs:string"/>
      <xs:attribute name="append-empty" type="xs:boolean"/>
      <xs:attribute name="tokenize" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <!--
    
    === Undocumented elements and attributes ===
    
  -->
  <!-- Found in CSS completions. -->
  <xs:element name="assistant">
    <xs:complexType>
      <xs:attribute name="type" use="required" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="CompleteOnConfirmAttr">
    <xs:attribute name="shouldCompleteOnConfirm" type="xs:boolean"/>
    <xs:attribute name="complete-on-confirm" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>undocumented</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!-- Found in HTML completions. -->
  <xs:attributeGroup name="SyntaxAttr">
    <xs:annotation>
      <xs:documentation>undocumented</xs:documentation>
    </xs:annotation>
    <xs:attribute name="syntax" use="required" type="xs:NCName"/>
  </xs:attributeGroup>
</xs:schema>
